<div class="header">
    <div class="header-title">
      <h1>NÃO À PEC 37</h1>
    </div>
    <div class="header-info">
      <p>26 de junho de 2013</p>
      <p>17h, no Museu da República</p>
      <p>Brasília, DF</p>
    </div>  
  </div>
  <div class="content">
    <div class="row">
      <div class="row-header">
        <h2>Por que?</h2>
      </div>
      <div class="row-paragraph">
        <h3 class="paragraph-title">O que é?</h3>
        <p>
          Proposta de Emenda à Constituição nº 37 é o projeto conhecido como "PEC da Impunidade" e tem o objetivo de limitar a investigação criminal dos Ministérios Públicos Estaduais e Federal e confere as Polícias essa responsabilidade, modificando a Constituição Brasileira. Na prática, se aprovada, a emenda praticamente inviabilizará investigações contra o crime organizado, desvio de verbas, corrupção, abusos cometidos por agentes do Estado e violações de direitos humanos.
        </p>
        <p>
          <a href="">Saiba mais sobre a PEC 37</a>
        </p>
        <br />
        <h3>Pelo que estamos lutando?</h3>
        <p>
          Os grandes escândalos sempre foram investigados e denunciados pelo Ministério Público, que atua em defesa da cidadania de forma independente. A PEC 37 atenta contra o regime democrático, a cidadania e o Estado de Direito e pode impedir também que outros órgãos realizem investigações, como a Receita Federal, a COAF (Conselho de Controle de Atividades Financeiras), o TCU (Tribunal de Contas da União), as CPIs (Comissões Parlamentares de Inquérito), entre outros.
        </p>
        <p>
          Em todo o mundo, apenas três países vedam a investigação do MP: Quênia, Indonésia e Uganda.
        </p>
        <p>
          A PEC 37 poderá ser votada em plenário pela Câmara dos Deputados a qualquer momento. Se você também não quer deixar que esse retrocesso aconteça em nosso país, manifeste-se! Defenda a sociedade brasileira e ajude nessa luta contra o crime e a impunidade!
        </p>
        <br />
        <h3>Por que isso é bom para o Brasil?</h3>
        <p>
          A impunidade encoraja a corrupção no Brasil e isso afeta diretamente o bem-estar dos cidadãos brasileiros quando diminui os investimentos públicos na saúde, na educação, em infraestrutura, segurança, habitação, entre outros direitos essenciais à vida, e fere criminalmente a Constituição quando amplia a exclusão social e a desigualdade econômica.
        </p>
        <p>
          Combater a corrupção é essencial para a ordem e o progresso.
        </p>
        <br /><br /><br />
      </div>
    </div>
    <div class="row-green">
      <div class="row">
        <div class="row-header">
          <h2>Nossos Gritos</h2>
        </div>
        <div class="row-paragraph"> 
          <div id="showcase" class="showcase">
            <div class="showcase-slide">
              <div class="showcase-content">  
                <p>Cidadania não é moda</p>
                <p>Cidadania é dia-a-dia</p>
                <p>Brasileiro vê se acorda</p>
                <p>em fazer democracia</p>
              </div>
            </div>
            <div class="showcase-slide">
              <div class="showcase-content">
                <p>Olha eu me juntei</p>
                <p>Hoje eu sou maior</p>
                <p>Você não é rei</p>
                <p>Trabalhe melhor</p>
              </div>
            </div>
            <div class="showcase-slide">
              <div class="showcase-content">
                <p>PEC da corrupção</p>
                <p>Pra Político ladrão</p>
              </div>
            </div>
            <div class="showcase-slide">
              <div class="showcase-content">
                <p>Vou limpar o congresso</p>
                <p>Porque eu quero o progresso</p>
              </div>
            </div>
            <div class="showcase-slide">
              <div class="showcase-content">
                <p>Se a PEC aprovar oleoleolá</p>
                <p>Vou boicotar</p>
                <p>E o congresso vai mudar oleoleolá</p>
                <p>pra não sobrar</p>
              </div>
            </div>
            <div class="showcase-slide">
              <div class="showcase-content">
                <p>Essa PEC compromete a naçã</p>
                <p>Eu digo não</p>
              </div>
            </div>
            <div class="showcase-slide">
              <div class="showcase-content">
                <p>Quanto desperdício</p>
                <p>Olha que governo burro</p>
                <p>Vamos dar visão</p>
                <p>Se unir com o Ossobuco</p>
              </div>
            </div>
            <div class="showcase-slide">
              <div class="showcase-content">
                <p>Essa PEC não</p>
                <p>É a cara do meu grupo</p>
                <p>Eu não abro mão</p>
                <p>Nessa causa tamo junto</p>
              </div>
            </div>
            <div class="showcase-slide">
              <div class="showcase-content">
                <p>A corrupção</p>
                <p>Apodrece o meu mundo</p>
                <p>mete na prisão</p>
                <p>Faça um governo justo</p>
              </div>
            </div>
            <div class="showcase-slide">
              <div class="showcase-content">
                <p>Os cérebros</p> 
                <p>se uniram</p>
                <p>Partiu, Brasil!</p>
              </div>
            </div>
            <div class="showcase-slide">
              <div class="showcase-content">
                <p>Massa pensante,</p> 
                <p>BRASIL AVANTE!</p>
              </div>
            </div>
          </div>
          
        </div>
      </div>
    </div>
    <div class="row">
      <div class="row-header">
        <h2>Dicas de Segurança</h2>
      </div>
      <div class="row-paragraph">
        <div class="paragraph-centered">
          <div class="paragraph-box-group">
            <div class="paragraph-box">
              <p><a href="http://www.slideshare.net/durgarrai/pequeno-manual-do-manifestante-em-portugal" target="_blank">Manual básico do manifestante</a></p>
            </div>
            <div class="paragraph-box">
              <p><a href="http://www.fatosirados.com.br/wp-content/uploads/2013/06/Guia-do-manifestante.pdf" target="_blank">Manual do manifestante pacífico</a></p>
            </div>
            <div class="paragraph-box">
              <p><a href="http://garotasgeeks.com/wordpress/2013/06/18/os-protestos-brasileiros-online/
              " target="_blank">Orientações jurídicas</a></p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row-gray">
      <div class="row">
        <div class="row-header">
          <h2>Apoio aos Manifestantes</h2>
        </div>
        <div class="row-paragraph">
          <div class="paragraph-contact-group">
            <div class="paragraph-contact">
              <h3 class="paragraph-title">Médicos de plantão</h3>
              <p>João Abreu - (xx) xxx-xxxx</p>
              <p>João Abreu - (xx) xxx-xxxx</p>
            </div>
            
            <div class="paragraph-contact last">
              <h3 class="paragraph-title">Advogados de plantão</h3>
              <p>João Abreu - (xx) xxx-xxxx</p>
              <p>João Abreu - (xx) xxx-xxxx</p>
            </div>
          </div>
          
        </div>

      </div>
    </div>
    <div class="row-dark-gray">
      <div class="row last">
        <div class="row-paragraph">
          <div class="paragraph-centered">
            <div class="paragraph-box-group">
              <div class="paragraph-box">
                <a class="dark-box" href="https://docs.google.com/forms/d/1zXASWod5_oQo7J2nn62mIUnhiTj653A_D5K8W_V0RsM/viewform" target="_blank">Envie sua sugestão</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>