<div class="header">
    <div class="header-title">
      <h1>NÃO À PEC 33</h1>
    </div>
    <div class="header-info">
      <p>XX de junlo de 2013</p>
      <p>XXh, no <--Local--></p>
      <p>Brasília, DF</p>
    </div>  
  </div>
  <div class="content">
    <div class="row">
      <div class="row-header">
        <h2>Por que?</h2>
      </div>
      <div class="row-paragraph">
        <h3 class="paragraph-title">O que é?</h3>
        <p>
          A PEC 33 dá aos deputados e senadores o direito de serem juízes de si mesmos, sem passar suas propostas pela Justiça. Se tal proposta for aprovada os deputados e senadores serão quem decidirão, em última instância, se vale ou não vale o que eles próprios aprovaram. Tal fato ultrapassa os direitos e garantias individuais dos cidadãos!
        </p>
        <p>
          Saiba mais sobre a PEC 37:
        </p>
        <ul>
          <li><a href="http://destakadas.com.br/pec-33-para-iniciantes-o-que-voce-precisa-saber-da-nova-polemica-politica-na-sua-timeline.html">PEC 33 para iniciantes</a></li>
          <li><a href="http://veja.abril.com.br/noticia/brasil/camara-aprova-proposta-que-submete-decisoes-do-stf-ao-congresso">Comissão da Câmara aprova proposta que submete decisões do STF ao Congresso</a></li>
          <li><a href="http://veja.abril.com.br/blog/ricardo-setti/politica-cia/que-absurdo-a-camara-aprovou-hoje-um-golpe-de-estado-nada-menos-do-que-isso/#.Ub-kTSlpFCo.facebook">Coluna do Ricardo Setti</a></li>
        </ul>
        <br />
        <h3>Pelo que estamos lutando?</h3>
        <p>
          Se aprovada a emenda, haverá exceções, e exceções gravíssimas, ao princípio constitucional de que todo ato praticado por agente público — e não apenas esses, mas todo ato que gere consequências jurídicas — tem a GARANTIA de ser ou não, em última análise, referendado pelo Judiciário.
        </p>
        
        <br /><br /><br />
      </div>
    </div>
    <div class="row-green">
      <div class="row">
        <div class="row-header">
          <h2>Nossos Gritos</h2>
        </div>
        <div class="row-paragraph"> 
          <div id="showcase" class="showcase">
            <div class="showcase-slide">
              <div class="showcase-content">  
                <p>Ei! você aí!</p>
                <p>se brinca com a A.D.I.</p>
                <p>eu vou te destituir!</p>
              </div>
            </div>
            <div class="showcase-slide">
              <div class="showcase-content">
                <p>Congresso não é juri,</p>
                <p>não brinca com a A.D.I.</p>
                <p>ou vou te destituir!''</p>
              </div>
            </div>
            <div class="showcase-slide">
              <div class="showcase-content">
                <p>Não a PEC 33</p>
                <p>Que vergonha de vocês</p>
                <p>Congresso que burla as leis</p>
                <p>30 anos de xadrez!</p>
              </div>
            </div>
            <div class="showcase-slide">
              <div class="showcase-content">
                <p>A C.F. tá ok</p>
                <p>só tem q aplicar as leis</p>
                <p>os juízes não têm vez</p>
                <p>pra corrupto é xadrez!</p>
              </div>
            </div>
            <div class="showcase-slide">
              <div class="showcase-content">
                <p>Faça como eu falei</p>
                <p>minha voz que é a lei</p>
                <p>não a PEC 33</p>
                <p>Que vergonha de vocês!!!</p>
              </div>
            </div>
          </div>
          
        </div>
      </div>
    </div>
    <div class="row">
      <div class="row-header">
        <h2>Dicas de Segurança</h2>
      </div>
      <div class="row-paragraph">
        <div class="paragraph-centered">
          <div class="paragraph-box-group">
            <div class="paragraph-box">
              <p><a href="http://www.slideshare.net/durgarrai/pequeno-manual-do-manifestante-em-portugal" target="_blank">Manual básico do manifestante</a></p>
            </div>
            <div class="paragraph-box">
              <p><a href="http://www.fatosirados.com.br/wp-content/uploads/2013/06/Guia-do-manifestante.pdf" target="_blank">Manual do manifestante pacífico</a></p>
            </div>
            <div class="paragraph-box">
              <p><a href="http://garotasgeeks.com/wordpress/2013/06/18/os-protestos-brasileiros-online/
              " target="_blank">Orientações jurídicas</a></p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row-gray">
      <div class="row">
        <div class="row-header">
          <h2>Apoio aos Manifestantes</h2>
        </div>
        <div class="row-paragraph">
          <div class="paragraph-contact-group">
            <div class="paragraph-contact">
              <h3 class="paragraph-title">Médicos de plantão</h3>
              <p>João Abreu - (xx) xxx-xxxx</p>
              <p>João Abreu - (xx) xxx-xxxx</p>
            </div>
            
            <div class="paragraph-contact last">
              <h3 class="paragraph-title">Advogados de plantão</h3>
              <p>João Abreu - (xx) xxx-xxxx</p>
              <p>João Abreu - (xx) xxx-xxxx</p>
            </div>
          </div>
          
        </div>

      </div>
    </div>
    <div class="row-dark-gray">
      <div class="row last">
        <div class="row-paragraph">
          <div class="paragraph-centered">
            <div class="paragraph-box-group">
              <div class="paragraph-box">
                <a class="dark-box" href="https://docs.google.com/forms/d/1zXASWod5_oQo7J2nn62mIUnhiTj653A_D5K8W_V0RsM/viewform" target="_blank">Envie sua sugestão</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>